{% extends "Post/base.html" %}
{% block head %}
<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
<section class="section">
<div class="container is-max-desktop" style="max-width: 700px; margin: 0 auto;">
  <div class="container is-max-desktop" style="max-width: 700px; margin: 0 auto;">
    <p>
  <br />
</p>
</div>
<h3></h3>
<div id="display" class='box' style=" height: 500px;overflow: auto;">

<!-- <div class="container darker">
  <b>Tom</b><p>Hello Everyone, How Are You Guys Doing?</p>
  <span class="time-left">20th, April 2021</span>
</div> -->
</div>

<script>
$(document).ready(function(){

setInterval(function(){
    $.ajax({
        type: 'GET',
        url : "/getMessages/{{pk}}/",
        success: function(response){
            $("#display").empty();
            for (var key in response.messages)
            {
                var temp="<article class='media'><div class='media-left'><figure class='image is-64x64'><img src='"+response.images[key]+"' alt='Image'></figure></div><div class='media-content'><div class='content'><p><strong>"+response.messages[key].username+"</strong> <small>"+response.time[key]+"</small><br>"+response.messages[key].value+"</p></div></div></article>";
                $("#display").append(temp);
            }
        },
        error: function(response){
            alert('An error occured')
        }
    });
},1000);
})
</script>


<div class="container">

    <form id="post-form">
        {% csrf_token %}
        <input type="hidden" name="username" id="username" value="{{username}}"/>
        <input type="hidden" name="room_id" id="room_id" value="{{room_details.id}}"/>
        <div class="level-item">
          <div class="field has-addons" style="width: 100%;">
            <p class="control" style="width: 100%;">
              <input class="input is-rounded" type="text" name="message" id="message" />
            </p>
            <p class="control">
              <button value="Send" class="button" type="submit">
                Отправить
              </button>
            </p>
          </div>
        </div>
    </form>
</div>
</div>
</section>
{% endblock %}
{% block script %}
<script type="text/javascript">
  $(document).on('submit','#post-form',function(e){
    e.preventDefault();

    $.ajax({
      type:'POST',
      url:'/send',
      data:{
          username:$('#username').val(),
          room_id:$('#room_id').val(),
          message:$('#message').val(),
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function(data){
         //alert(data)
      }
    });
    document.getElementById('message').value = ''
  });
</script>

{% endblock %}