{% extends 'Post/base.html' %}

{% block head %}
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
{% endblock %}
{% block content %}
    <section class="section">
        <div class="container is-max-desktop" style="max-width: 700px; margin: 0 auto;">
            <h1 class="title has-text-centered" data-aos="fade-up" data-aos-duration="2000">Основатели</h1>
            <div class="columns is-vcentered" data-aos="fade-up" data-aos-duration="2000" class="tile is-ancestor">
                <div class="column">
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                    </figure>
                    <br>
                    <b>Иванов Артемий</b>
                    Backend
                </div>
                <div class="column">
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="https://sun9-10.userapi.com/s/v1/if2/bkNP2WIc6z9NGLHF25mew7LSjTQyML5rETqdDJU4VoESGzJdFPrKj8iqrJ6hxyZyJuZfgh0r0st3GaEP5ljKDp1W.jpg?size=2160x1292&quality=96&type=album">
                    </figure>
                    <br>
                    <b>Ломтев Никита</b>
                    Frontend
                </div>
                <div class="column">
                    <figure class="image is-128x128" style="">
                        <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                    </figure>
                    <br>
                    <b>Джумалиев Тимур</b>
                    Frontend
                </div>
                <div class="column">
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                    </figure>
                    <br>
                    <b>Мигунов Михаил</b>
                    DevOps
                </div>
            </div>
        </div>
    </section>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
{% endblock %}