<HTML>
    <head>
        {% load static %}
        {% block head %}

        {% endblock %}
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
        <title>{{title}}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    </head>
    <body style="font-family: 'Roboto', sans-serif;">
        <!-- Dropdown Structure -->
        {% for message in messages %}
          <div class="notification is-primary">
            <button class="delete"></button>
          {{message}}
          </div>
        {% endfor %}
        <nav class="navbar is-fixed-top has-shadow is-family-primary" role="navigation" aria-label="main navigation">
          <a style="font-family: 'Patua One', cursive;" class="navbar-item" href="{% url 'home' %}">
            <div class="navbar-brand">
                BestImage
              </a>
          
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                {% if user.is_authenticated %}
                <a class="navbar-item" href="{% url 'chats' %}">
                  Чаты
                </a>
                {% endif %}
                <a class="navbar-item" href="{% url 'about' %}">
                  О проекте
                </a>
              </div>
              {% if user.is_authenticated %}
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    <a href="{% url 'post-create' %}" class="button is-primary is-light">
                      Выложить пост
                    </a>
                    <a href="{% url 'profile' user.username %}" class="button is-light">
                      <span>
                        <i class="fas fa-user"></i>
                      </span>
                      <span>
                      Профиль
                    </span>
                    </a>
                  </div>
                </div>
              </div>
              {% else %}
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    <a class="button is-primary" href="{% url 'register' %}">
                      <strong>Зарегистрироваться</strong>
                    </a>
                    <a class="button is-light"href="{% url 'login' %}">
                      Войти
                    </a>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
          </nav>
          <div class="block" style="min-height: 74vh;{% block background %} {% endblock %}">
          <br />
        {% block content %}{% endblock %}
          </div>
        <footer class="footer">
            <div class="content has-text-centered">
              <p>
                <strong>BestImage</strong>
              </p>
            </div>
          </footer>
        
    <script>
        document.addEventListener('DOMContentLoaded', () => {

// Get all "navbar-burger" elements
const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

// Check if there are any navbar burgers
if ($navbarBurgers.length > 0) {

  // Add a click event on each of them
  $navbarBurgers.forEach( el => {
    el.addEventListener('click', () => {

      // Get the target from the "data-target" attribute
      const target = el.dataset.target;
      const $target = document.getElementById(target);

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      el.classList.toggle('is-active');
      $target.classList.toggle('is-active');

    });
  });
}

});

document.addEventListener('DOMContentLoaded', () => {
  (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
    const $notification = $delete.parentNode;

    $delete.addEventListener('click', () => {
      $notification.parentNode.removeChild($notification);
    });
  });
});
    </script>
     {% block script %}{% endblock %}
    </body>

  </HTML>