{% extends "Post/base.html" %}
{% block head %}
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
{% endblock %}
{% block content %}
    <section class="section">
        <div class="container is-max-desktop" style="max-width: 700px; margin: 0 auto;">
            <div class="row infinite-container">
                {% for post in posts %}
                    <div class="infinite-item">
                        <div class="card" style="margin-bottom: 30px;" data-aos="fade-up" data-aos-duration="500">
                            <a href="{% url 'post-detail' post.id %}">
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img style="object-fit: cover;" src="{{ post.image.url }}"
                                             alt="Placeholder image">
                                    </figure>
                                </div>
                            </a>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-48x48">
                                            <img src="{{ post.author.profile.image.url }}" alt="Placeholder image">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="title is-4">{{ post.author }}</p>
                                    </div>
                                </div>

                                <div class="content">
                                    {{ post.content }}
                                    <br>
                                    <time>{{ post.date_post|date:" d.m.Y" }}</time>
                                </div>
                                <div class="content">
                                    <b>
                                    {{ post.number_of_likes }}
                                    Like{{ post.number_of_likes|pluralize }}
                                    </b>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if page_obj.has_next %}
                <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
            {% endif %}
            <div class="d-flex justify-content-center" style="display:none;">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    {% load static %}
    <script type="text/javascript" src="{% static "Post/jquery-2.2.4.min.js" %}"></script>
    <script type="text/javascript" src="{% static "Post/jquery.waypoints.min.js" %}"></script>
    <script type="text/javascript" src="{% static "Post/infinite.min.js" %}"></script>
    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            handler: function (direction) {

            },
            offset: 'bottom-in-view',
            onBeforePageLoad: function () {
                $('.spinner-border').show();
            },
            onAfterPageLoad: function () {
                $('.spinner-border').hide();
            }


        });
    </script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
{% endblock %}