{% extends 'Post/base.html' %}
{% block content %}
    <section class="section">
    <h2 class="title is-2" style="text-align: center;">Мои Чаты</h2>
    <div class='container is-max-widescreen'>
    {% for chat in chats %}
        <button class="button is-link is-light is-large is-fullwidth" style="max-width: 700px; margin: 0 auto;justify-content: flex-start;" onclick="location.href='{% url "room" chat.id %}'">
            {% if chat.user_one.username == username %}
                {{ chat.user_second.username }}
            {% else %}
                {{ chat.user_one.username }}
            {% endif %}
        </button>
    <br />
    {% endfor %}
</div>
</section>
{% endblock %}