{% extends "Post/base.html" %}

{% block content %}
    {% load static %}
    <section class="section">
        <div class="container is-max-widescreen" style="max-width: 700px; margin: 0 auto;">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="{{ post.image.url }}" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="{{ post.author.profile.image.url }}" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">{{ post.author }}</p>
                            <p class="subtitle is-6">@artemus_ivanov</p>
                        </div>
                    </div>

                    <div class="content">
                        {{ post.content }}
                        <br>
                        <time>{{ post.date_post|date:" d.m.Y" }}</time>
                    </div>
                    <div class="content">
                        {% if user.is_authenticated %}
                            <form action="{% url 'post_like' object.id %}" method="POST" style>
                                {% csrf_token %}

                                {% if post_is_liked %}
                                    <button style="cursor:pointer; border: 0; background: transparent" type="submit" name="post_id" value="{{ object.id }}"
                                            class="btn btn-info"><img width="32px" height="32px" src="{% static 'Post/like.png' %}">
                                    </button>
                                {% else %}
                                    <button style="cursor:pointer; border: 0; background: transparent" type="submit" name="post_id" value="{{ object.id }}"
                                            class="btn btn-info"><img width="32px" height="32px" src="{% static 'Post/unlike.png' %}">
                                    </button>
                                {% endif %}
                            </form>
                        {% else %}
                            <a class="btn btn-outline-info" href="{% url 'login' %}?next={{ request.path }}">Зарегистрируйтесь, чтобы поставить лайк</a><br>
                        {% endif %}
                        <strong class="text-secondary">{{ number_of_likes }}
                            Like{{ number_of_likes|pluralize }}</strong>
                    </div>
                </div>
            </div>
            <div>
                {% if object.author == user %}
                    <div class="update-post-by-user">
                        <div class="buttons">
                            <button class="button is-info is-light"
                                    onclick="location.href='{% url "post-update" post.id %}'">
                                ИЗМЕНИТЬ
                            </button>
                            <button class="button is-danger is-light"
                                    onclick="location.href='{% url "post-delete" post.id %}'">
                                УДАЛИТЬ
                            </button>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
