{% extends "Post/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
<section class="section">
<div class="container is-max-desktop">
    <h2 class="title is-2" style="text-align: center;">УДАЛИТЬ ОБЪЯВЛЕНИЕ?</h2>
        <form method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" font-family="arial"></legend>
                <h2 class="warning-text-delete"> ВЫ УВЕРЕНЫ, ЧТО ХОТИТЕ УДАЛИТЬ ОБЪЯВЛЕНИЕ? </h2>
            </fieldset>
            <div class="field">
                <p class="control">
                  <button class="button is-success" type="submit">
                    Да, я уверен
                  </button>
                </p>
              </div>
        </form>
    </div>
    </section>
{% endblock %}
