{% extends "Post/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="section">
        <div class="box" style="max-width: 700px; margin: 0 auto;">
            <h2 class="title is-2" style="text-align: center;">Создание Поста</h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h4 class="title is-4">Ваш текст</h4>
                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                        {{ form.content }}
                    </p>
                </div>
                <div class="field">
                    {{ form.location }}
                </div>
                <h4 class="title is-4">Изображение</h4>
                <div class="field">
                    <div class="file">
                        <label class="file-label">
                            {{ form.image }}
                            <span class="file-cta">
                            <span class="file-icon">
                        <i class="fas fa-upload"></i>
                      </span>
                      <span class="file-label">
                        Выберите файл
                      </span>
                    </span>
                        </label>
                    </div>
                </div>
                <div class="field">
                    <p class="control">
                        <button class="button is-success" type="submit">
                            Опубликовать
                        </button>
                    </p>
                </div>
            </form>
        </div>
    </section>
    <script>
        document.getElementById("id_content").classList.add("textarea");
        document.getElementById("id_content").classList.add("is-hovered");
        document.getElementById("id_image").classList.add("file-input");
    </script>
{% endblock %}
