{% extends "Post/base.html"%}
{% block content %}
{% load static %}
<section class="section">
    <div class="container is-max-desktop" style="max-width: 700px; margin: 0 auto;">
        <h2 class="title is-2" style="text-align: center;">Все отлично!</h2>
        <img style="width: 100%; height: auto;"src="{% static 'USERS/confirm-back.svg' %}" alt="">
    </div>

</section>
{% endblock %}