{% extends "Post/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<section class="section" >
  <div class="container is-max-desktop" style="max-width: 700px; margin: 0 auto;">
    <h2 class="title is-2" style="text-align: center;">Вход</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="field">
            <p class="control has-icons-left has-icons-right">
              {{form.username}}
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              {{form.password}}
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <button class="button is-success" type="submit">
                Войти
              </button>
            </p>
          </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Нужен аккаунт? <a class="ml-2" href="{% url 'register' %}">Зарегистрироваться здесь</a>
        </small>
    </div>
    <br />
    <img style="width: 40%; height: auto; display: block; margin-left: auto; margin-right: auto"src="{% static 'Users/welcome.svg' %}" alt="">
</div>
</section>

</div>

{% endblock %}
