{% extends "Post/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
<section class="section">
<div class="container is-max-desktop">
    <div class="logout-section">
        <h1> Вы успешно вышли</h1> 
        <div class="border-top">
            <small class="text-muted" font-family="arial" style="font-size: 25px">
                Нужен аккаунт? <br />
                <a href="{% url 'register' %}" style="text-decoration: none"> Зарегистрироваться здесь </a>
                <br /> 
                ИЛИ <br />
                 <a href="{% url 'login' %}" style="text-decoration: none"> Войти здесь </a>
            </small>
        </div>
    </div>
</div>
</section>
{% endblock %}
