{% extends "Post/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
<section class="section">
<div class="content-html">
    <div class="alert"> Пароль изменён!!! </div>
    <div class="border-top pt-3">
        <small class="text-muted" style="font-size: 15px">
            <a href="{% url 'login' %}" style="text-decoration: none"> Зайти здесь </a>
        </small>
    </div>
</div>
</section>
{% endblock %}
