{% extends "Post/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
<section class="section">
<div class="content-html">
    <div class="register-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border_bottom mb-4" font-family="arial">Восстановление пароля</legend>
                {{form|crispy}}
            </fieldset>
            <div class="form-group" font-family="arial">
                <button class="btn btn-outline-info" type="submit">Запрос на восстановление пароля</button>
            </div>
        </form>
    </div>
</div>
</section>
{% endblock %}