{% extends "Post/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
<section class="section">
<div class="content-html">
    <div class="alert"> На почту отправлено письмо!!!  </div>
</div>
</section>
{% endblock %}
