{% extends "Post/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block background %} background-image: url({% static 'USERS/profile-edit.svg' %}); background-position: right bottom; background-repeat: no-repeat; background-size: 20%; {% endblock %}
{% block content %}
<section class="section">
<div class="container is-max-desktop" style="max-width: 700px; margin: 0 auto;">
<h2 class="title is-2" style="text-align: center;">Изменение личных данных</h2>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h4 class="title is-4">Телефон</h4>
    <div class="field">
          {{p_form.phonenumber}}
        </p>
      </div>
      <h4 class="title is-4">Фамилия</h4>
      <div class="field">
          {{u_form.first_name}}
        </p>
      </div>
      <h4 class="title is-4">Имя</h4>
      <div class="field">
          {{u_form.last_name}}
        </p>
      </div>
      <h4 class="title is-4">Аватарка</h4>
      <h5 class="title is-5">На данный момент</h5>
      <img class="is-rounded" src="{{ user.profile.image.url }}">
      <div class="field">
        {{p_form.image}}
      </div>
      <div class="field">
        <p class="control">
          <button class="button is-success" type="submit">
            Обновить
          </button>
        </p>
      </div>
</form>
</div>
</section>
<script>
  document.getElementById("id_phonenumber").classList.add("input");
</script>
{% endblock %}