{% extends "Post/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <section class="section">
        <h2 class="title is-2" style="text-align: center;">Данные пользователя </h2>
        <div class="container is-max-widescreen" style="max-width: 700px; margin: 0 auto;">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="{{ profile_user.profile.image.url }}">
                    </figure>
                </div>
                <br/>
                <div class="card-content">
                    <h3 class="title is-3"> {{ profile_user.username }}</h3>
                    <div class="media">
                        <div class="media-left">
                            <p>Фамилия: {{ profile_user.first_name }}</p>
                            <p>Имя: {{ profile_user.last_name }}</p>
                            <p><a href="tel:{{ user.profile.phonenumber }}">{{ profile_user.profile.phonenumber }}</a>
                            </p>
                            <time>{{ profile_user.date_joined|date:" d.m.Y" }} {{ profile_user.date_joined|time:"H:i" }}</time>
                        </div>
                        <br/>
                    </div>
                    {% if user.is_authenticated %}
                    {% if not user.username == profile_user.username %}
                        <div>
                            {% if link is not True %}
                                <form method="post">{% csrf_token %}
                                    <button name='object' value='{{ profile_user.pk }}' class="button is-info is-light">
                                        Начать чат
                                    </button>
                                </form>

                            {% else %}
                                <button class="button is-info is-light"
                                        onclick="location.href=' {% url "room" id %} ' ">
                                    Продолжить чат
                                </button>
                            {% endif %}
                        </div>
                        <br/>
                    {% endif %}
                {% endif %}
                </div>
            </div>
            {% if user == profile_user %}
                <div class="content" style="text-align: center;">
                <br>
                <div class="buttons">
                    <button class="button is-info is-light" onclick="location.href='{% url "edit-profile" %}'">
                        ИЗМЕНИТЬ
                    </button>
                    <button class="button is-danger is-light" onclick="location.href='{% url "logout" %}'">
                        ВЫЙТИ
                    </button>
                </div>
            {% else %}
                <h2 class="title is-2" style="text-align: center;">Посты</h2>
                <div class='container is-max-widescreen'>
                    {% for post in user_posts %}
                        <div class="card" style="max-width: 700px; margin: 0 auto;">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img style="object-fit: cover;" src="{{ post.image.url }}" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-48x48">
                                            <img src="{{ post.author.profile.image.url }}" alt="Placeholder image">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="title is-4"><a
                                                href="{% url 'post-detail' post.id %}">{{ post.title }}</a></p>
                                        <p class="subtitle is-6">{{ post.author }}</p>
                                    </div>
                                </div>

                                <div class="content">
                                    <br>
                                    <time>{{ post.date_post|date:" d.m.Y" }} {{ post.date_post|time:"H:i" }}</time>
                                </div>
                            </div>
                        </div>
                        <br/>
                    {% endfor %}
                </div>
            {% endif %}
            </div>
        </div>
    </section>
{% endblock %}