{% extends "Post/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<section class="section">
<div class="container is-max-desktop" style="max-width: 700px; margin: 0 auto;">
<h2 class="title is-2" style="text-align: center;">Регистрация</h2>
        <form method="POST">
            {% csrf_token %}
            <h4 class="title is-4">Логин</h3>
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                  {{form.username}}
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </p>
              </div>
              <h4 class="title is-4">Почта</h3>
              <div class="field">
                <p class="control has-icons-left">
                  {{form.email}}
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </p>
              </div>
              <h4 class="title is-4">Телефон</h3>
                <div class="field">
                  <p class="control has-icons-left">
                    {{form_profile.phonenumber}}
                    <span class="icon is-small is-left">
                      <i class="fas fa-phone"></i>
                    </span>
                  </p>
                </div>
              <h4 class="title is-4">Фамилия</h3>
              <div class="field">
                <p class="control has-icons-left">
                  {{form.first_name}}
                  <span class="icon is-small is-left">
                    <i class="fas fa-signature"></i>
                  </span>
                </p>
              </div>
              <h4 class="title is-4">Имя</h3>
              <div class="field">
                <p class="control has-icons-left">
                  {{form.last_name}}
                  <span class="icon is-small is-left">
                    <i class="fas fa-signature"></i>
                  </span>
                </p>
              </div>
              <h4 class="title is-4">Пароль</h3>
              <div class="field">
                <p class="control has-icons-left">
                  {{form.password1}}
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
              <h4 class="title is-4">Пароль еще раз</h3>
              <div class="field">
                <p class="control has-icons-left">
                  {{form.password2}}
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <button class="button is-success" type="submit">
                    Зарегистрироваться
                  </button>
                </p>
              </div>
        <div class="border-top pt-3">
            <small class="text-muted" style="font-size: 15px">
                Уже есть аккаунт? <a href="{% url 'login' %}" style="text-decoration: none">Войти здесь</a>
            </small>
        </div>
        <br />
        <img style="width: 50%; height: auto; display: block; margin-left: auto; margin-right: auto;"src="{% static 'USERS/connect.svg' %}" alt="">
    </div>
</div>
</section>
{% endblock %}
